HR_Builds/ZokiAllFormsNeuroXChange/NeuroXChange/Service References/ExchangeInstrumentService/ExchangeInstrumentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://40.117.144.146:8041/ExchangeInstrumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExchangeInstrumentService" />
  <xs:element name="GetInstrumentSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="participantsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstrumentSpecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExchangeInstrumentService" minOccurs="0" name="GetInstrumentSpecResult" nillable="true" type="q1:ArrayOfInstrumentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstrumentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="participantsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstrumentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExchangeInstrumentService" minOccurs="0" name="GetInstrumentInfoResult" nillable="true" type="q2:ArrayOfInstrumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncInstrumentSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="participantsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncInstrumentSpecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExchangeInstrumentService" minOccurs="0" name="GetAsyncInstrumentSpecResult" nillable="true" type="q3:ArrayOfInstrumentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>